@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

QWidget {
    background:rgb(53, 54, 58);
    color: rgb(199, 201, 201);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

QLabel{
    color:rgb(199, 201, 201);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

QPushButton {
    background: rgb(30, 36, 38);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    width: 300px;
}

QLineEdit {
    background: rgb(30, 36, 38);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}